.Mobile-Only{
	display: none;
}



// -------------------Hovers------------------------------
@media (pointer: fine){
	a:hover, .Header nav a:hover{
		color: #53D8FB;
	}
	.Contact .Social .fa:hover{
	    transition: all .3s ease;
	    transform: scale(1.1) translateY(-5px);
	}
	.modal-close:hover .fa:before{
		color: #777;
	}
	.Projects .portfolio-item .portfolio-link .caption:hover {
	  opacity: 1;
	}
}

@media (min-width: 992px){
	.col-md-6 {
		width: 47%;
		margin: 0 2rem 2rem 0;

	}
	.modal-content{
		margin: auto;
	}

}

@media (min-width: 1177px){
	.modal-content{
		width: 1170px;
	    
	}
	
}