/* line 1, ../sass/default-mobile.scss */
.Desktop-Only {
  display: none !important;
}

/* line 4, ../sass/default-mobile.scss */
body {
  overflow-x: hidden;
}

/* line 8, ../sass/default-mobile.scss */
.Header .Mobile-Only {
  display: flex;
  background: #000;
  justify-content: space-between;
  padding: 1rem;
}
/* line 13, ../sass/default-mobile.scss */
.Header .Mobile-Only .Logo {
  color: #fff;
  margin-bottom: 0;
  font-size: 340%;
  max-width: 80%;
}

/* line 20, ../sass/default-mobile.scss */
header {
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #dddddd;
}

/* line 27, ../sass/default-mobile.scss */
.hamburger {
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 45px;
  padding: 10px 15px 0px 15px;
  color: #fff;
  border: 0;
  font-size: 3.4em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}

/* line 42, ../sass/default-mobile.scss */
.cross {
  background: none;
  position: absolute;
  top: 0px;
  right: 0;
  padding: 12px 15px 0px 15px;
  color: #fff;
  border: 0;
  font-size: 6em;
  line-height: 65px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}

/* line 57, ../sass/default-mobile.scss */
.menu {
  z-index: 1000000;
  font-weight: bold;
  font-size: 0.8em;
  width: 100%;
  background: #000;
  position: absolute;
  text-align: center;
  font-size: 18px;
}

/* line 58, ../sass/default-mobile.scss */
/* line 69, ../sass/default-mobile.scss */
.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}

/* line 76, ../sass/default-mobile.scss */
.menu li {
  display: block;
  padding: 15px 0 15px 0;
}

/* line 83, ../sass/default-mobile.scss */
.menu ul li a {
  text-decoration: none;
  margin: 0px;
  color: #fff;
}

/* line 90, ../sass/default-mobile.scss */
.menu a {
  text-decoration: none;
  color: #fff;
}

/* line 97, ../sass/default-mobile.scss */
.glyphicon-home {
  color: white;
  font-size: 1.5em;
  margin-top: 5px;
  margin: 0 auto;
}

/* line 103, ../sass/default-mobile.scss */
header {
  display: inline-block;
  font-size: 12px;
}

/* line 104, ../sass/default-mobile.scss */
span {
  padding-left: 20px;
}

/* line 107, ../sass/default-mobile.scss */
.Intro {
  margin-top: 0;
  background-size: 200%;
  background-position-x: 50%;
  background-position-y: 50%;
}
/* line 112, ../sass/default-mobile.scss */
.Intro h2 {
  font-size: 22px;
}
/* line 115, ../sass/default-mobile.scss */
.Intro .Image-Overlay {
  height: 69vw;
}

/* line 119, ../sass/default-mobile.scss */
.About .TwoColumn {
  display: block;
}
/* line 121, ../sass/default-mobile.scss */
.About .TwoColumn .One {
  float: left;
  width: 40%;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
}
/* line 126, ../sass/default-mobile.scss */
.About .TwoColumn .One img {
  float: left;
  width: 100%;
}
/* line 132, ../sass/default-mobile.scss */
.About .TwoColumn .Two {
  margin: 0;
  max-width: none;
}

@media only screen and (max-width: 323px) {
  /* line 138, ../sass/default-mobile.scss */
  .Intro {
    margin-top: 48px;
  }
}
/* line 142, ../sass/default-mobile.scss */
.Projects .portfolio-item .portfolio-link .caption {
  opacity: 1;
}

/* line 145, ../sass/default-mobile.scss */
.Projects .portfolio-item .portfolio-link .caption {
  background: rgba(129, 138, 163, 0.5);
}

/* line 149, ../sass/default-mobile.scss */
.Page-Subtitle {
  text-align: center;
}

/* line 152, ../sass/default-mobile.scss */
.Contact .Social {
  margin: auto;
  margin-top: 3rem;
}
