body {
    font: normal 1em/1.456 "soleil", sans-serif;
    font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
    font: 400 1.8em/1.1 "soleil semibold", sans-serif;
    margin: 0 0 .25em;
}
h1{
    
    font-size: 60px;
}
h2 {
    font-size: 28px;
}
h3 {
    font-size: 26px;
    margin-bottom: 0;
}
h4 {
    font-size: 1.3em;
}
h5 {
    font-size: 1.2em;
}
h6 {
    font-size: 1.1em;
}

b, strong {
    font-family: 'soleil semibold'
}
.degree{
    font-family: 'soleil italic';
}
/*Links*/
a{
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

/*Input placeholders*/
input, textarea {
    &:-moz-placeholder, &::-webkit-input-placeholder {
        color: #666;
    }
}



